* {
  box-sizing: border-box;
}

:root {
  --color: #111;
  --background-color: #fff;
  --theme-color: #B1040E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #eee;
    --background-color: #222;
    --theme-color: #ff424d;
  }
}

a:link, a:visited {
  color: var(--theme-color);
}

a:hover, a:active {
  text-decoration: none;
}

html {
  font-family: 'Source Code Pro', monospace;
  color: var(--color);
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

.content {
  max-width: 70ch;
  width: 100%;
  padding: 20px;
  margin: 30px auto;
}

.logo {
  max-width: 150px;
  width: 100%
  margin: 30px 0;
}

li {
  line-height: 1.6em;
}
